{
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "standard"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "flowtype", "prettier", "standard"],
  "globals": {
    "graphql": true
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "space-before-function-paren": [ "warn", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
