{
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "flowtype", "prettier", "standard"],
  "globals": {
    "graphql": true
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "never"]
  }
}
