# Force text files to have unix eols, so Windows/Cygwin does not break them
* text=auto eol=lf
# Images
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.ico binary

# Detect (Programming) Language
src/* linguist-vendored
.yarn/* linguist-vendored

# Prevent diffs of vendored files.
/.yarn/releases/** -text
/.yarn/plugins/** -text

# Use LFS for large & binary files
*.zip filter=lfs diff=lfs merge=lfs binary
*.gz filter=lfs diff=lfs merge=lfs binary
