{
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ],
  "**/*.html": [
    "stylelint --fix --allow-empty-input"
  ],
  "**/*.md": [
    "textlint --fix",
    "prettier --write",
    "remark",
    "npx markdown-link-check --config mlc_config.json"
  ],
  "**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "package.json": [
    "npm run format:packagejson:fix"
  ],
  "package-lock.json": [
    "npm run format:npmlock:fix"
  ]
}
