{
  "**/*.css": [
    "stylelint --fix"
  ],
  "**/*.html": [
    "stylelint --fix"
  ],
  "**/*.md": [
    "textlint --fix",
    "prettier --write",
    "remark"
  ],
  "**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "package.json": [
    "npm run format:packagejson:fix"
  ],
  "package-lock.json": [
    "npm run format:npmlock:fix"
  ]
}
