sudo: required
language: ruby
services:
  - docker
cache:
  directories:
    - node_modules
env:
  global:
    - DOCKER_BUILDKIT=1
    - DOCKER_USERNAME=docwhat
    - secure: cgA++j5I+hPFPw2IXUaY+zFLJZlSLw7Wdf1s5OxpZHo/iGIYI9FA2ejFQ/832idvD/5yWeKYAKcbFWpuYe9t//AUPvvhGDWGIkWLiPnRzTgvNJ0LmqPSfDUa1vCuCvLES3yWMocOL33nnaCehihzkcb/UG7/aw5wbmNZ3EUq4m0=

script:
  - docker version
  - script/build

deploy:
  provider: script
  script: 'script/push "docwhat/docwhat:${TRAVIS_BRANCH}"'
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^master|next$

notifications:
  email:
    on_failure: never
    on_success: never
  pushover:
    api_key:
      secure: diUwJTJM8+LfgSJDt5dba6iXlAH01/3bIOSj622mT4zNix91e2W00mleN0C1HaoQoOJ6JaMgQLUOqxmy1spqUbVs4sHpdTxcCaK9jF5Z/OslxRk7BGnLzaJYIKDUqoqPLWtkdFzrdrGAw5pHp3ZoQpNNxDn87R76b+43F2rPKpI=
    on_failure: always
    on_success: change
    template:
      - "%{result}: %{commit_subject}"
      - "  %{compare_url}"
      - "  %{build_url}"
    users:
      secure: QFycDr2Xncye5QsFFHJs7nSd2sek0ntb7d/PthDAGkpxrfW9ebqkvrpjGSBDQiytqTBKOiUOkKwAFFNz7csukCdZ1mdjgQNoKmTzIgQvakUjZUsLZC/rPGHMveRdoaCNgiUwxWIRUCxpAHtlOFiYEdeJFuO5ju4vgmYP0gF/hXY=
  webhooks: https://www.travisbuddy.com/
